* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(53, 73, 80);
}

.container {
  margin: 40px auto;
  max-width: 1200px;
}

input,
textarea,
button,
select {
  padding: 12px;
  border: 1px solid rgb(53, 73, 80);
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
}
input:focus,
textarea:focus {
  border-color: rgb(77, 105, 116);
}
textarea {
  height: 103px;
  resize: vertical;
}
select {
  height: 44px;
  background-color: white;
  appearance: none;
}

button {
  background-color: rgb(53, 73, 80);
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(77, 105, 116);
}

a {
  color: rgb(53, 73, 80);
  text-decoration: none;
}

.form-row {
  margin: 15px 0;
  display: flex;
}
.simple-form-row {
  margin: 15px 0;
}
.form-row label {
  flex: 1;
}
.form-row label,
.static-input,
.static-textarea {
  padding: 13px 0;
}
.static-input,
.static-textarea {
  font-weight: 600;
}
.static-textarea {
  min-height: 103px;
}
.form-row .input-container {
  flex: 3;
}

.heading {
  font-size: 18px;
  font-weight: 600;
}

.button-group {
  margin-left: auto;
}
.button-group button {
  min-width: 100px;
}

.header {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}
.header-item {
  margin: 0 20px;
  padding: 5px;
}
.brand {
  height: 75px;
}
.nav-item {
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.nav-item:hover {
  background-color: rgb(236, 241, 243);
}
.nav-item-right {
  margin-left: auto;
}

.content-container {
  margin: 30px 10px;
}
.flex-container {
  display: flex;
}
.flex-item {
  flex: 1;
  margin: 0 20px;
}
.negative-margin-container {
  margin: 0 -20px;
}

.columns {
  display: flex;
  min-height: 700px;
  margin: 10px -10px;
}
.column-header {
  padding: 10px;
}
.column {
  flex: 1;
  min-width: 0;
  padding: 10px;
}
.cards {
  background-color: rgb(236, 241, 243);
  border-radius: 5px;
  padding: 10px;
  height: 100%;
}
.card {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.card-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.card-header-id {
  background-color: rgb(53, 73, 80);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 3px;
  min-width: 42px;
  text-align: center;
}
.card-header-title {
  padding: 3px;
  margin-left: 3px;
}
.card-body {
  color: rgb(92, 119, 128);
  font-size: 14px;
  display: flex;
}
.card-body-description {
  padding: 3px 5px 3px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-body-assignee {
  padding: 3px 5px;
  white-space: nowrap;
  margin-left: auto;
  border-radius: 5px;
  border: 1px solid rgb(92, 119, 128);
}

.login-background {
  background-size: cover;
  background-position: center center;
  background: rgb(236, 241, 243);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.login-container {
  width: 300px;
  height: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px;
}
.login-header {
  text-align: center;
  margin: 10px 0 30px;
}
.login-brand {
  height: 110px;
}

.lds {
  margin: 30vh auto;
}
.lds-ellipsis {
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgb(53, 73, 80);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
